In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import calendar
import warnings
warnings.filterwarnings('ignore')
import os

In [3]:
states_path = "/media/hdd/Dropbox/git/Opioids-Tennessee/data/states.csv"
states = pd.read_csv(states_path)
states.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [7]:
states_abbr = list(states['Code'])
print(states_abbr)

['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [8]:
output_dir = "/media/hdd/Dropbox/git/Opioids-Tennessee/output2/"
for state in states_abbr:
    state_dir = os.path.join(output_dir, state)
    if not os.path.exists(state_dir):
        os.mkdir(state_dir)

In [ ]:
data_path = "/media/hdd/Data/Opioids/processed ARCOS 2006-2014 12.5.2019.csv"
out_dir = '/media/hdd/GitHub/Opioids-Tennessee/output2/'

batch_size = 1000000

start = 0
end = 600

# total = 0

for i in range(start, end):
    print("Processing epoch {} ...".format(i+1))
    indices_to_skip = np.arange(1, (i+1)*batch_size+1, 1).tolist()
    data = pd.read_csv(data_path, sep='|', header=0, skiprows=indices_to_skip, nrows=batch_size)
    for state in states_abbr:
        state_data = data[data['BUYER_STATE']==state]
#         total = total + len(tn)
#         print("Number of TN records in this epoch: {}".format(len(tn)))
#         print("Cumulative number of TN records: {}".format(total))
        out_name = state + '_' + str(i+1).zfill(3) + '.csv'
        out_path = os.path.join(out_dir, out_name)
        if len(state_date) > 0:
            state_data.to_csv(out_path, sep = "|", index=False)
        del state_data
    del data